@use "../../styles/breakpoints";


.ToastsContainer {
	position: fixed;
	padding: 0.5625rem 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 1.5rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
	overflow-y: auto;

	@include breakpoints.screen-tablet {
		padding: 1.5rem 0;
	}
}